
main, body, html {
    position:sticky;
    height: 100%;
  }
@font-face {
  font-family: YES;
  src: url("../fonts/RoosterPersonalUse-3z8d8.ttf");
}
  .fixgol{
    position:fixed;
  }
  .gul{
    padding: 100px;
  }
  .prod{
    font-size: 22px ;
    font-family: YES;
    font-style:italic;
    color: #000000;
  }
  .hor{
    width: 500px;
    height: 200px;
  }
@font-face {
  font-family: HUI;
  src: url("../fonts/CandyCanePersonalUseRegular-WyaPv.ttf");
}
  .mil{
    text-align: center;
    font-family: HUI;
    font-size: 24px;
    padding: 1px;
  }
  
  .bg {
    /* The image used */
    background-image: url("../assests/image.jpg");
  
    /* Full height */
    height: 90%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @font-face {
    font-family: BG;
    src: url("../fonts/GameOfSquids.ttf");
  }
  .but {
    background-color: #000000; /* Green */
    border: 1;
    border-color: #ffffff;
    color: white;
    padding: 9px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: BG ;
    font-style: normal;
  }

  .gh {
    background-color: #000000;
    padding: 10px;
  }
@font-face {
  font-family: YUHU;
  src: url("../fonts/TomsNewRoman-Eawr.ttf");
}
  .tul{
    font-size: 12px ;
    font-family: YUHU;
    font-style:normal;
    color: #000000;
  }
  .wuih{
    font-size: 12px ;
    font-family: YUHU;
    font-style:normal;
    color: #0da9ef;
  }


header {
  font-family: "Lato", sans-serif;
  position:sticky;
}
@font-face {
  font-family: KG;
  src: url("../fonts/the_King__26_Queen_font.ttf");
}
    .gg{
        font-size: 22px ;
        font-family: KG;
        font-style: normal;
        color: #ffffff;
    }
@font-face {
  font-family: OG;
  src: url("../fonts/RoosterPersonalUse-3z8d8.ttf");
}
    .sg{
      font-size: 30px ;
      font-family: OG;
      font-style: normal;
      color: #000000;
    }
    .kotak{
      background-color: #ffffff;
      position:relative;
      border-style: solid;
      border-width: 5px;
      border-top-color: #16DB93;
      border-bottom-color: #A4036F;
      border-left-color: #EFEA5A;
      border-right-color: #FE5E41;
      height: 410px;
      width: 98%;
      margin:auto;
      text-align: justify;
    }
    .sidenav {
      float:left;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

footer {
  background-color: #111;
  position: sticky;
}
    .footer-basic {
        padding:30px;
        background: color #ccc;
        color:white;
      }
      
      .footer-basic ul {
        padding:0;
        list-style:none;
        text-align:center;
        font-size:18px;
        color: #ffffff;
        line-height:1.6;
        margin-bottom:0;
      }
      
      .footer-basic li {
        padding:0 10px;
        color: #ffffff;
      }
      
      .footer-basic ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
      
      .footer-basic ul a:hover {
        opacity:1;
      }
      
      .footer-basic .social {
        text-align:center;
        padding-bottom:25px;
      }
      
      .footer-basic .social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin:0 8px;
        color:inherit;
        opacity:0.75;
      }
      
      .footer-basic .social > a:hover {
        opacity:0.9;
      }
      
      .footer-basic .copyright {
        margin-top:15px;
        text-align:center;
        font-size:15px;
        color:#aaa;
        margin-bottom:0;
      }

header, body, html {
        font-family: "Lato", sans-serif;
        position:sticky;
      }
      
      .sidebar {
        height: 100%;
        width: 0;
        position:fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidebar a:hover {
        color: #f1f1f1;
      }
      
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
      }
      
      .openbtn:hover {
        background-color: #444;
      }
      
      #main {
        transition: margin-left .5s;
        position:sticky;
        padding: 16px;
      }
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }

      body {
        background-color: #eee
    }
    
    .mt-100 {
        margin-top: 100px
    }
    
    .card {
        border-radius: 7px !important;
        border-color: #e1e7ec
    }
    
    .mb-30 {
        margin-bottom: 30px !important
    }
    
    .card-img-tiles {
        display: block;
        border-bottom: 1px solid #e1e7ec
    }
    
    a {
        color: #0da9ef;
        text-decoration: none !important
    }
    
    .card-img-tiles>.inner {
        display: table;
        width: 100%
    }
    
    .card-img-tiles .main-img,
    .card-img-tiles .thumblist {
        display: table-cell;
        width: 65%;
        padding: 15px;
        vertical-align: middle
    }
    
    .card-img-tiles .main-img>img:last-child,
    .card-img-tiles .thumblist>img:last-child {
        margin-bottom: 0
    }
    
    .card-img-tiles .main-img>img,
    .card-img-tiles .thumblist>img {
        display: block;
        width: 100%;
        margin-bottom: 6px
    }
    
    .thumblist {
        width: 35%;
        border-left: 1px solid #e1e7ec !important;
        display: table-cell;
        width: 65%;
        padding: 15px;
        vertical-align: middle
    }
    
    .card-img-tiles .thumblist>img {
        display: block;
        width: 100%;
        margin-bottom: 6px
    }
    
    .btn-group-sm>.btn,
    .btn-sm {
        padding: .45rem .5rem !important;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem
    }